* {
  padding: 0;
  margin: 0;
}

/* ---------- MAIN APP ---------- */
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: 30px;
  min-height: 300px;
}

/* ---------- HEADER ---------- */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* ---------- TASK ---------- */
.task {
  margin: 8px auto;
  background-color: rgb(242, 237, 253);
  padding: 12px;
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.reminder {
  border-left: 5px solid darkred;
}

/* ---------- ADD TASK ---------- */

.add-form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-control input {
  padding: 8px 5px;
  font-size: 15px;
}

.reminder-form {
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.reminder-form input {
  margin-left: 5px;
}

.add-form .btn {
  outline: none;
  border: none;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
}